params {
// -------------------------------------------------------------------------
// misc
help=false
threads=48
output_dir=false
// this is the directory containing all the scripts executed internally
// set it to the correct one if re-using this workflow
source_dir="/gpfs/data/fs71579/schmat90/CF/projects/meta/M00003_Toasted_soy_diversity/scripts/src"
// -------------------------------------------------------------------------
// input
ccs_dir=false
fastq_dir=false
fasta_dir=false
// -------------------------------------------------------------------------
// kraken2
kraken_db=false
kraken_db_read_len=100
min_confidence=0.0
min_hit_groups=2
// -------------------------------------------------------------------------
// bracken
min_counts=10
// -------------------------------------------------------------------------
// diversity
evenness="shannon"
dissimilarity="bray"
// -------------------------------------------------------------------------
// plotting
max_species=10
}

env {
// executables of programs that are used inside the workflow
PYTHON3="python3.8"
MINIMAP2="minimap2"
SAMTOOLS="samtools"
HISAT2="/binfl/lv71579/schmat90/software/hisat2/hisat2-2.2.1/hisat2"
HISAT2_BUILD="/binfl/lv71579/schmat90/software/hisat2/hisat2-2.2.1/hisat2-build"
RSCRIPT="Rscript"
SEQTK="seqtk"
KRAKEN2="kraken2"
BRACKEN="bracken"
KRAKEN2_INSPECT="kraken2-inspect"
}
